{{#each info}}
<div class="row show-info">
  <div class="show-date col-md-2">
    {{date}}
  </div>
  <div class="show-city col-md-2">
    {{city}}
  </div>
  <div class="show-venue col-md-3">
    {{venue}}
  </div>
  <div class="show-artists col-md-5">
    {{artists}}<br class="d-block d-sm-none">
    <button data-toggle="modal" data-target="#flyer-modal"><img class="icon" src="img/attachment.svg"></button>
  </div>
  <div class="show-image-url d-none">
    {{url}}
  </div>
</div>
{{/each}}
